<div class="nav--bar">
  <div>Express (Routing) Checkpoint</div>
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>
  </div>
</div>
