<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Montserrat:wght@700&family=Outfit:wght@300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,500&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@300;400;500;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Custom css sheet -->
    <link rel="stylesheet" href="css/style.css" />
    <title>Express | Services</title>
  </head>
  <body>
    <%- include ('partials/navbar.ejs') %>
    <section class="container">
      <h1 style="text-align: center; margin: 30px">We Offer the Following:</h1>
      <div class="services--card-section">
        <div class="card">
          <h1>Quick Loan</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            beatae, qui similique, praesentium earum eligendi architecto
            suscipit numquam quae debitis minima aperiam atque recusandae quo!
            Beatae laboriosam dolore unde suscipit!
          </p>
        </div>
        <div class="card">
          <h1>Instant Vitual Card</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            beatae, qui similique, praesentium earum eligendi architecto
            suscipit numquam quae debitis minima aperiam atque recusandae quo!
            Beatae laboriosam dolore unde suscipit!
          </p>
        </div>
        <div class="card">
          <h1>Audit Services</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            beatae, qui similique, praesentium earum eligendi architecto
            suscipit numquam quae debitis minima aperiam atque recusandae quo!
            Beatae laboriosam dolore unde suscipit!
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
<!-- Audit Services, Instant Vitual Card -->
